<!DOCTYPE html>
<html lang="en">

<head>
    <meata charset="UTF-8">
    <meta http-equiv="X-UA-Comapatible" content="IE-edge">
    <meta name="viewport" content="width-device-width,initial-scale=1.0">
    <title>ANDE ARUN KUMAR Portfolio</title>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="static/style.css">
</head>

<body>
    <section class="about">
        <div class="about-info">
            <h1>About Me</h1>
            <h2>Professional Summary</h2>
            <p>1. 5.5 years of experience as a Software Engineer with a demonstrated history of working in the Software industry. I am skilled in Python, PowerBI, DAX, Dashboards, Reporting tools, Data Analyzing, Data Modeling, SQL, AWS services.</p>
            <p>2. Work experience in Creating dynamic dashboards and reports to monitor key performance indicators (KPIs) and business metrics, improving data-driven decision-making.</p>
            <p>3. Experience in developing projects using programming languages such as python with frameworks Django and Flask. Strong working knowledge in developing Restful webservices, API Gateway.</p>
            <p>4. Experience in AWS Cloud Computing Services Such as EC2, S3, Lambda, API, DynamoDB, EBS, VPC, ELB, Route53, Cloud Watch, Security Groups, Cloud Trail, IAM, Cloud Front, Snowball, EMR and Glacier.</p>
            <p>5. Experience in Designing, developing, and deploying interactive Power BI reports and dashboards, delivering actionable insights to support business decision-making. utilized Power Query and DAX to transform, clean, and shape data for report generation from various sources such as SQLServer, Excel, and APIs.</p>
        </div>
        <div class="home-img">
            <div class="img-box">
                <div class="img-item">
                    <img src="static/home.png" alt="">
                </div>
            </div>
        </div>
    </section>
    <section class="education-img">
        <div class="education-image">
            <h1>Education</h1>
            <div class="container">
                <div class="box">
                    <h2>Graduation</h2>
                    <p>B.TECH (IT)</p>
                    <p>2015-2019</p>
                    <p>Percentage: 60%</p>
                    <p>Gurunank Institute of Technology</p>
                    <p>Ibrahimpatnam, Hyderabad</p>
                </div>
                <div class="box">
                    <h2>Intermediate</h2>
                    <p>M.P.C</p>
                    <p>2013-2015</p>
                    <p>Percentage: 85.1%</p>
                    <p>Narayana Junior College</p>
                    <p>Dilshukhnagar, Hyderabad</p>
                </div>
                <div class="box">
                    <h2>X-Class</h2>
                    <p>SSC</p>
                    <p>2003-2013</p>
                    <p>Percentage: 80%</p>
                    <p>Manideep English Union High School</p>
                    <p>Karimnagar, Telangana</p>
                    <p>505001</p>
                </div>
            </div>
        </div>
    </section>
    <section class="experience">
        <div class="experience-image">
            <h2>Experience</h2>
            <div class="experience-container">
                <div class="box1">
                    <h1>Software Engineer</h1>
                    <h3>IBM</h3>
                    <p>2023-2025</p>
                    <p>Roles And Responsibilities:</p>
                    <p>Creating dynamic dashboards and reports to monitor key performance indicators (KPIs) and business metrics, improving data-driven decision-making. Designing, developing, and deploying interactive Power BI reports and dashboards, delivering actionable insights to support business decision-making. Utilized Power Query and DAX to transform, clean, and shape data for report generation from various sources such as SQL Server, Excel, and APIs. Collaborated with stakeholders to understand reporting requirements and developed custom visualizations for sales, finance, and marketing teams.</p>
                </div>
                <div class="box2">
                    <h1>System Engineer</h1>
                    <h3>Infosys Limited</h3>
                    <p>2022-2023</p>
                    <p>Roles And Responsibilities</p>
                    <p>Assisted in the development of Python-based tools for automating routine tasks and reducing operational inefficiencies. Contributed to the maintenance of existing Python applications, troubleshooting issues and providing technical support. Wrote and optimized Python scripts for data scraping, data manipulation, and reporting, which saved significant time in manual data entry. Wrote reusable, efficient, and maintainable code, ensuring ease of integration with databases (MySQL, PostgreSQL) and third-party services.</p>
                </div>
            </div>
        </div>
    </section>
    <section class="experience2">
        <div class="experience2-container">
            <div class="box3">
                <h1>Odoo-Python Backend Developer</h1>
                <h3>RDP Workstations PVT. LTD</h3>
                <p>2021-2022</p>
                <p>Roles And Responsibilities:</p>
                <p>Worked with senior developers to design and implement custom Odoo reports and dashboards to provide actionable insights for business users. Assisted in the development and customization of Odoo modules and applications, improving business operations and customer experience. Assisted in the configuration and deployment of Odoo ERP solutions for clients, tailoring features to meet specific business requirements. Troubleshot and resolved issues related to Odoo modules, including Sales, Inventory, and Accounting, ensuring smooth operation and minimal downtime.</p>
            </div>
            <div class="box4">
                <h1>Program Coordinator</h1>
                <h3>ISBN Research Pvt Ltd</h3>
                <p>2019-2021</p>
                <p>Roles And Responsibilities</p>
                <p>Collaborated with cross-functional teams, including marketing, HR, and finance, to ensure program objectives were met and resources were efficiently utilized. Worked closely with project teams to define program scope, timelines, budgets, and resource allocation to ensure successful project execution. Developed and maintained detailed program documentation, including schedules, reports, and meeting minutes, to track progress and ensure accountability. Managed the scheduling and logistics for program events, meetings, and workshops, ensuring smooth execution and participant engagement.</p>
            </div>            
        </div>
    </section>
</body>