<!DOCTYPE html>
<html lang="en">

<head>
    <meata charset="UTF-8">
    <meta http-equiv="X-UA-Comapatible" content="IE-edge">
    <meta name="viewport" content="width-device-width,initial-scale=1.0">
    <title>ANDE ARUN KUMAR Portfolio</title>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="static/style.css">
</head>
<body>
<div class="contact">
<div class="heading">
    <h2>Contact Me</h2>
    <h3><i class='bx bx-home-heart' ></i>  Address </h3>
    <p>8/7/77 Kothirampur</br>
        Karimnagar, Telangana</br>
        505001</P>
    </br>
    <h3><i class='bx bxs-phone-call'></i>  Phone</h3>
    <p>991-289-4392</p>
    </br>
    <h3><i class='bx bxl-gmail' ></i>  Email</h3>
    <p>andearunkumar25@gmail.com</p>
</div>
<form>
    <div class="input-group">
        <input type="text" id="name" required="true">
        <label id="name">Your Name</label>
    </div>
    <div class="input-group">
        <input type="text" id="number" required="true">
        <label id="number">Phone Number</label>
    </div>
    <div class="input-group">
        <input type="email" id="email" required="true">
        <label id="email">Email Id</label>
    </div>
    <div class="input-group">
        <textarea id="message" rows="8"></textarea>
        <label id="message">Your Message...</label>
    </div>
    <button type="submit">SUBMIT</button>
</form>
</div>
</body>
</html>