<!DOCTYPE html>
<html lang="en">

<head>
    <meata charset="UTF-8">
    <meta http-equiv="X-UA-Comapatible" content="IE-edge">
    <meta name="viewport" content="width-device-width,initial-scale=1.0">
    <title>ANDE ARUN KUMAR Portfolio</title>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="static/style.css">
</head>

<body>
    <nav class="navbar">
        <a href="#" class="logo">Portfolio.</a>
        <ul>
            <li class="active"><a href="#">Home</a></li>
            <li><a href="http://127.0.0.1:5000/about">About</a></li>
            <li><a href="http://127.0.0.1:5000/projects">Projects</a></li>
            <li><a href="http://127.0.0.1:5000/skills">Skills</a></li>
            <li><a href="http://127.0.0.1:5000/contact">Contact</a></li>
        </ul>
    </nav>
    <div class="bars-animation">
        <div class="bar" style="--i:6;"></div>
        <div class="bar" style="--i:5;"></div>
        <div class="bar" style="--i:4;"></div>
        <div class="bar" style="--i:3;"></div>
        <div class="bar" style="--i:2;"></div>
        <div class="bar" style="--i:1;"></div>
    </div>

    <section class="home">
        <div class="home-info">
            <h1>Ande Arun Kumar</h1>
            <h2>I'm a 
                <span style="--i:4;" data-text="Python Backend Developer">Python Backend Developer</span>
                <span style="--i:3;" data-text="Fullstack Developer">Fullstack Developer</span>
                <span style="--i:2;" data-text="PowerBI Developer">PowerBI Developer</span>
                <span style="--i:1;" data-text="Software Developer">Software Developer</span>
            </h2>
            <p>Experienced Software Engineer with a demonstrated history of working in the Software industry. Skilled in Python, PowerBI, DAX, Dashboards, Reporting tools, Data Analysing, Data Modeling, SQL, AWS services. Over 5.5 years with Strong engineering professional with a Bachelor of Technology (B.Tech.) focused in Information Technology from Gurunank Institute Of Technology(Ibrahimpatnam, Hyderabad).</p>
            <div class="btn-sci">
                <a href="https://cyan-kamillah-91.tiiny.site/" class="btn">Download CV</a>
                <div class="sci">
                    <a href="https://github.com/AndeArunKumar28"><i class='bx bxl-github'></i></a>
                    <a href="https://www.linkedin.com/in/ande-arun-kumar-074099129/"><i class='bx bxl-linkedin-square'></i></a>
                    <a href="#"><i class='bx bxl-instagram'></i></a>
                    <a href="#"><i class='bx bxl-twitter'></i></a>
                </div>
            </div>
        </div>

        <div class="home-img">
            <div class="img-box">
                <div class="img-item">
                    <img src="static/home.png" alt="">
                </div>
            </div>
        </div>
    </section>
    <section class="about">
        <div class="about-info">
            <h1>About Me</h1>
            <h2>Professional Summary</h2>
            <p>1. 5.5 years of experience as a Software Engineer with a demonstrated history of working in the Software industry. I am skilled in Python, PowerBI, DAX, Dashboards, Reporting tools, Data Analyzing, Data Modeling, SQL, AWS services.</p>
            <p>2. Work experience in Creating dynamic dashboards and reports to monitor key performance indicators (KPIs) and business metrics, improving data-driven decision-making.</p>
            <p>3. Experience in developing projects using programming languages such as python with frameworks Django and Flask. Strong working knowledge in developing Restful webservices, API Gateway.</p>
            <p>4. Experience in AWS Cloud Computing Services Such as EC2, S3, Lambda, API, DynamoDB, EBS, VPC, ELB, Route53, Cloud Watch, Security Groups, Cloud Trail, IAM, Cloud Front, Snowball, EMR and Glacier.</p>
            <p>5. Experience in Designing, developing, and deploying interactive Power BI reports and dashboards, delivering actionable insights to support business decision-making. utilized Power Query and DAX to transform, clean, and shape data for report generation from various sources such as SQLServer, Excel, and APIs.</p>
        </div>
        <div class="home-img">
            <div class="img-box">
                <div class="img-item">
                    <img src="static/home.png" alt="">
                </div>
            </div>
        </div>
    </section>
    <section class="education-img">
        <div class="education-image">
            <h1>Education</h1>
            <div class="container">
                <div class="box">
                    <h2>Graduation</h2>
                    <p>B.TECH (IT)</p>
                    <p>2015-2019</p>
                    <p>Percentage: 60%</p>
                    <p>Gurunank Institute of Technology</p>
                    <p>Ibrahimpatnam, Hyderabad</p>
                </div>
                <div class="box">
                    <h2>Intermediate</h2>
                    <p>M.P.C</p>
                    <p>2013-2015</p>
                    <p>Percentage: 85.1%</p>
                    <p>Narayana Junior College</p>
                    <p>Dilshukhnagar, Hyderabad</p>
                </div>
                <div class="box">
                    <h2>X-Class</h2>
                    <p>SSC</p>
                    <p>2003-2013</p>
                    <p>Percentage: 80%</p>
                    <p>Manideep English Union High School</p>
                    <p>Karimnagar, Telangana</p>
                    <p>505001</p>
                </div>
            </div>
        </div>
    </section>
    <section class="experience">
        <div class="experience-image">
            <h2>Experience</h2>
            <div class="experience-container">
                <div class="box1">
                    <h1>Software Engineer</h1>
                    <h3>IBM</h3>
                    <p>2023-2025</p>
                    <p>Roles And Responsibilities:</p>
                    <p>Creating dynamic dashboards and reports to monitor key performance indicators (KPIs) and business metrics, improving data-driven decision-making. Designing, developing, and deploying interactive Power BI reports and dashboards, delivering actionable insights to support business decision-making. Utilized Power Query and DAX to transform, clean, and shape data for report generation from various sources such as SQL Server, Excel, and APIs. Collaborated with stakeholders to understand reporting requirements and developed custom visualizations for sales, finance, and marketing teams.</p>
                </div>
                <div class="box2">
                    <h1>System Engineer</h1>
                    <h3>Infosys Limited</h3>
                    <p>2022-2023</p>
                    <p>Roles And Responsibilities</p>
                    <p>Assisted in the development of Python-based tools for automating routine tasks and reducing operational inefficiencies. Contributed to the maintenance of existing Python applications, troubleshooting issues and providing technical support. Wrote and optimized Python scripts for data scraping, data manipulation, and reporting, which saved significant time in manual data entry. Wrote reusable, efficient, and maintainable code, ensuring ease of integration with databases (MySQL, PostgreSQL) and third-party services.</p>
                </div>
            </div>
        </div>
    </section>
    <section class="experience2">
        <div class="experience2-container">
            <div class="box3">
                <h1>Odoo-Python Backend Developer</h1>
                <h3>RDP Workstations PVT. LTD</h3>
                <p>2021-2022</p>
                <p>Roles And Responsibilities:</p>
                <p>Worked with senior developers to design and implement custom Odoo reports and dashboards to provide actionable insights for business users. Assisted in the development and customization of Odoo modules and applications, improving business operations and customer experience. Assisted in the configuration and deployment of Odoo ERP solutions for clients, tailoring features to meet specific business requirements. Troubleshot and resolved issues related to Odoo modules, including Sales, Inventory, and Accounting, ensuring smooth operation and minimal downtime.</p>
            </div>
            <div class="box4">
                <h1>Program Coordinator</h1>
                <h3>ISBN Research Pvt Ltd</h3>
                <p>2019-2021</p>
                <p>Roles And Responsibilities</p>
                <p>Collaborated with cross-functional teams, including marketing, HR, and finance, to ensure program objectives were met and resources were efficiently utilized. Worked closely with project teams to define program scope, timelines, budgets, and resource allocation to ensure successful project execution. Developed and maintained detailed program documentation, including schedules, reports, and meeting minutes, to track progress and ensure accountability. Managed the scheduling and logistics for program events, meetings, and workshops, ensuring smooth execution and participant engagement.</p>
            </div>            
        </div>
    </section>
    <section class="skills">
        <div class="skills-list">
            <h1><i class='bx bxl-python'></i><br/>Python</h1>
            <br/>
            <br/>
            <h1><i class='bx bxl-postgresql' ></i><br/>SQL</h1>
            <br/>
            <br/>
            <h1><i class='bx bxl-css3' ></i><br/>CSS</h1>
            <br/>
            <br/>
            <h1><i class='bx bxs-data' ></i><br/>Dax queries</h1>
        </div>
        <div class="skills-list2">
            <h1><i class='bx bxl-django'></i><br/>Django</h1>
            <br/>
            <br/>
            <h1><i class='bx bxl-aws' ></i><br/>AWS</h1>
            <br/>
            <br/>
            <h1><i class='bx bxs-business' ></i><br/>Odoo</h1>
            <br/>
            <br/>
            <h1><i class='bx bx-desktop' ></i><br/>PowerBIDesktop</h1>
        </div>
        <div class="skills-list3">
            <h1><i class='bx bxl-flask' ></i><br/>Flask</h1>
            <br/>
            <br/>
            <h1><i class='bx bxl-html5' ></i><br/>HTML</h1>
            <br/>
            <br/>
            <h1><i class='bx bxl-git' ></i><br/>GIT</h1>
            <br/>
            <br/>
            <h1><i class='bx bx-mobile' ></i><br/>PowerBIMobile</h1>
        </div>
        <div class="skills-list4">
            <h1><i class='bx bxs-report' ></i><br/>Reports</h1>
            <br/>
            <br/>
            <h1><i class='bx bxl-mongodb' ></i><br/>MangoDB</h1>
            <br/>
            <br/>
            <h1><i class='bx bxs-dashboard' ></i><br/>Dashboards</h1>
            <br/>
            <br/>
            <h1><i class='bx bxs-cog' ></i><br/>API'S</h1>
        </div>
    </section>
    <section class="project">
        <div class="project-info">
            <h2>Projects</h2>
            <div class="project-container">
                <div class="box5">
                    <h1>Project 1:</h1>
                    <h3>Health Management Analysis</h3>
                    <p><b>Client:</b> HM Health Solutions</p>
                    <p><b>Role:</b> Associate Analyst</p>
                    <p><b>Duration:</b> March 2023 to Jan 2025</p>
                    <p><b>Environment:</b> Power BI, SQL Server, Excel, Windows 10</p>
                    <p><b>Description:</b> HM Health Solutions is headquartered in Pittsburgh, PA, provides innovative, 
                        technology-based solutions that enable health plans to achieve top-line 
                        revenue growth, reduce costs and gain economies of scale. Launched in 
                        2014, the organization’s professional employees provide experience in 
                        multiple product lines, including Medicare, Medicaid, commercial, individual, 
                        dental and vision. HM Health Solutions is a subsidiary of Highmark Health</p>
                    <p>
                    <p><b>Work Experience:</b></p>
                    <p>Participated in requirements meetings and Scrum Calls to understand the Report Requirements.</p>
                    <p>Used Power Query / Query Editor for Data transformation as per the reporting needs.</p>
                    <p>Created Data Model in Power Pivot by Establishing the Relationship Between the tables.</p>
                    <p>Created New Columns and New Measures over data models for the purpose of enhancing Power BI visuals using DAX.</p>                        
                </div>
            </div>
        </div>
        <div class="hospital-image">
            <img src="/static/OIP.png" alt="">
        </div>
    </section>
    <section class="project2">
        <div class="project2-info">
            <div class="project2-container">
                <div class="box6">
                    <h1>Project 2:</h1>
                    <h3>Bluedart Integration in Odoo ERP</h3>
                    <p><b>Client:</b> RDP Workstations Pvt Ltd</p>
                    <p><b>Role:</b> Odoo Backend developer</p>
                    <p><b>Duration:</b> July 2021 to Dec 2021</p>
                    <p><b>Environment:</b> Odoo, Python, Bluedart API’s, xml, PostgreSQL </p>
                    <p><b>Description:</b> Integrating Bluedart (a popular courier service in India) with Odoo ERP which    
                        can help us to streamline logistics, order fulfillment, and shipment tracking. 
                        Automatically create shipments in Bluedart when a sale order is confirmed in Odoo. 
                        Track the shipments from Odoo, updating the status as Bluedart provides it. 
                        Automatically generate shipping labels in Odoo for Bluedart shipments. <p>
                    <p><b>Work Experience:</b></p>
                    <p>Collaborating with business stakeholders to understand the specific shipping, tracking, and logistics needs.</p>
                    <p>Understanding Bluedart’s API documentation to know how to interact with their system for shipment tracking, booking, etc</p>
                    <p>Customizing Odoo’s user interface to display Bluedart-related features, such as shipping options, tracking status, etc.</p>
                    <p>Automating processes like shipment creation, tracking, and updates based on changes from Bluedart. </p>                        
                </div>
            </div>
        </div>
        <div class="Bluedart-image">
            <img src="/static/Bluedart.png" alt="">
        </div>
    </section>
    <section class="project3">
        <div class="project3-info">
            <div class="project3-container">
                <div class="box7">
                    <h1>Project 3:</h1>
                    <h3>Banking Management System </h3>
                    <p><b>Client:</b> Infotech Solutions</p>
                    <p><b>Role:</b> Software Engineer </p>
                    <p><b>Duration:</b> April 2022 to October 2022 </p>
                    <p><b>Environment:</b> Python, Flask, MySQL, AWS </p>
                    <p><b>Description:</b> The Bank Management Project is a Python-based application that uses text 
                        files as a database. The application is used to help for new registration 
                        signup, signin and bank administrators manage customer accounts, create 
                        and delete admin and customer accounts, and view customer account details. <p>
                    <p><b>Work Experience:</b></p>
                    <p>Collaborating with stakeholders to understand the banking processes (e.g., account management, transaction processing, loan management) and gathering system requirements.</p>
                    <p>Documenting and defining use cases for the system, such as customer registration, account creation, fund transfers, and loan applications.</p>
                    <p>Creating features for customer account creation, login, and account details management.</p>
                    <p>Implementing functions to handle deposits, withdrawals, fund transfers, balance inquiries, and transaction histories. </p>
                    <p>  Creating a user-friendly interface for customers and bank administrators to interact with the system.</p>                
                </div>
            </div>
        </div>
        <div class="Bank-image">
            <img src="/static/Banking.jpg" alt="">
        </div>
    </section>
    <div class="contact">
        <div class="heading">
            <h2>Contact Me</h2>
            <h3><i class='bx bx-home-heart' ></i>  Address</h3>
            <p>8/7/77 Kothirampur</br>
                Karimnagar, Telangana</br>
                505001</P>
            </br>
            <h3><i class='bx bxs-phone-call'></i>  Phone</h3>
            <p>991-289-4392</p>
            </br>
            <h3><i class='bx bxl-gmail' ></i>  Email</h3>
            <p>andearunkumar25@gmail.com</p>
        </div>
        <form>
            <div class="input-group">
                <input type="text" id="name" required="true">
                <label id="name">Your Name</label>
            </div>
            <div class="input-group">
                <input type="text" id="number" required="true">
                <label id="number">Phone Number</label>
            </div>
            <div class="input-group">
                <input type="email" id="email" required="true">
                <label id="email">Email Id</label>
            </div>
            <div class="input-group">
                <textarea id="message" rows="8"></textarea>
                <label id="message">Your Message...</label>
            </div>
            <button type="submit">SUBMIT</button>
        </form>
        </div>

</body>
</html>

