<!DOCTYPE html>
<html lang="en">

<head>
    <meata charset="UTF-8">
    <meta http-equiv="X-UA-Comapatible" content="IE-edge">
    <meta name="viewport" content="width-device-width,initial-scale=1.0">
    <title>ANDE ARUN KUMAR Portfolio</title>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="static/style.css">
</head>
<body>
    <section class="project">
        <div class="project-info">
            <h2>Projects</h2>
            <div class="project-container">
                <div class="box5">
                    <h1>Project 1:</h1>
                    <h3>Health Management Analysis</h3>
                    <p><b>Client:</b> HM Health Solutions</p>
                    <p><b>Role:</b> Associate Analyst</p>
                    <p><b>Duration:</b> March 2023 to Jan 2025</p>
                    <p><b>Environment:</b> Power BI, SQL Server, Excel, Windows 10</p>
                    <p><b>Description:</b> HM Health Solutions is headquartered in Pittsburgh, PA, provides innovative, 
                        technology-based solutions that enable health plans to achieve top-line 
                        revenue growth, reduce costs and gain economies of scale. Launched in 
                        2014, the organization’s professional employees provide experience in 
                        multiple product lines, including Medicare, Medicaid, commercial, individual, 
                        dental and vision. HM Health Solutions is a subsidiary of Highmark Health</p>
                    <p>
                    <p><b>Work Experience:</b></p>
                    <p>Participated in requirements meetings and Scrum Calls to understand the Report Requirements.</p>
                    <p>Used Power Query / Query Editor for Data transformation as per the reporting needs.</p>
                    <p>Created Data Model in Power Pivot by Establishing the Relationship Between the tables.</p>
                    <p>Created New Columns and New Measures over data models for the purpose of enhancing Power BI visuals using DAX.</p>                        
                </div>
            </div>
        </div>
        <div class="hospital-image">
            <img src="/static/OIP.png" alt="">
        </div>
    </section>
    <section class="project2">
        <div class="project2-info">
            <div class="project2-container">
                <div class="box6">
                    <h1>Project 2:</h1>
                    <h3>Bluedart Integration in Odoo ERP</h3>
                    <p><b>Client:</b> RDP Workstations Pvt Ltd</p>
                    <p><b>Role:</b> Odoo Backend developer</p>
                    <p><b>Duration:</b> July 2021 to Dec 2021</p>
                    <p><b>Environment:</b> Odoo, Python, Bluedart API’s, xml, PostgreSQL </p>
                    <p><b>Description:</b> Integrating Bluedart (a popular courier service in India) with Odoo ERP which    
                        can help us to streamline logistics, order fulfillment, and shipment tracking. 
                        Automatically create shipments in Bluedart when a sale order is confirmed in Odoo. 
                        Track the shipments from Odoo, updating the status as Bluedart provides it. 
                        Automatically generate shipping labels in Odoo for Bluedart shipments. <p>
                    <p><b>Work Experience:</b></p>
                    <p>Collaborating with business stakeholders to understand the specific shipping, tracking, and logistics needs.</p>
                    <p>Understanding Bluedart’s API documentation to know how to interact with their system for shipment tracking, booking, etc</p>
                    <p>Customizing Odoo’s user interface to display Bluedart-related features, such as shipping options, tracking status, etc.</p>
                    <p>Automating processes like shipment creation, tracking, and updates based on changes from Bluedart. </p>                        
                </div>
            </div>
        </div>
        <div class="Bluedart-image">
            <img src="/static/Bluedart.png" alt="">
        </div>
    </section>
    <section class="project3">
        <div class="project3-info">
            <div class="project3-container">
                <div class="box7">
                    <h1>Project 3:</h1>
                    <h3>Banking Management System </h3>
                    <p><b>Client:</b> Infotech Solutions</p>
                    <p><b>Role:</b> Software Engineer </p>
                    <p><b>Duration:</b> April 2022 to October 2022 </p>
                    <p><b>Environment:</b> Python, Flask, MySQL, AWS </p>
                    <p><b>Description:</b> The Bank Management Project is a Python-based application that uses text 
                        files as a database. The application is used to help for new registration 
                        signup, signin and bank administrators manage customer accounts, create 
                        and delete admin and customer accounts, and view customer account details. <p>
                    <p><b>Work Experience:</b></p>
                    <p>Collaborating with stakeholders to understand the banking processes (e.g., account management, transaction processing, loan management) and gathering system requirements.</p>
                    <p>Documenting and defining use cases for the system, such as customer registration, account creation, fund transfers, and loan applications.</p>
                    <p>Creating features for customer account creation, login, and account details management.</p>
                    <p>Implementing functions to handle deposits, withdrawals, fund transfers, balance inquiries, and transaction histories. </p>
                    <p>  Creating a user-friendly interface for customers and bank administrators to interact with the system.</p>                
                </div>
            </div>
        </div>
        <div class="Bank-image">
            <img src="/static/Banking.jpg" alt="">
        </div>
    </section>
</body>