<!DOCTYPE html>
<html lang="en">

<head>
    <meata charset="UTF-8">
    <meta http-equiv="X-UA-Comapatible" content="IE-edge">
    <meta name="viewport" content="width-device-width,initial-scale=1.0">
    <title>ANDE ARUN KUMAR Portfolio</title>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="static/style.css">
</head>
<body>
    <section class="skills">
        <div class="skills-list">
            <h1><i class='bx bxl-python'></i><br/>Python</h1>
            <br/>
            <br/>
            <h1><i class='bx bxl-postgresql' ></i><br/>SQL</h1>
            <br/>
            <br/>
            <h1><i class='bx bxl-css3' ></i><br/>CSS</h1>
            <br/>
            <br/>
            <h1><i class='bx bxs-data' ></i><br/>Dax queries</h1>
        </div>
        <div class="skills-list2">
            <h1><i class='bx bxl-django'></i><br/>Django</h1>
            <br/>
            <br/>
            <h1><i class='bx bxl-aws' ></i><br/>AWS</h1>
            <br/>
            <br/>
            <h1><i class='bx bxs-business' ></i><br/>Odoo</h1>
            <br/>
            <br/>
            <h1><i class='bx bx-desktop' ></i><br/>PowerBIDesktop</h1>
        </div>
        <div class="skills-list3">
            <h1><i class='bx bxl-flask' ></i><br/>Flask</h1>
            <br/>
            <br/>
            <h1><i class='bx bxl-html5' ></i><br/>HTML</h1>
            <br/>
            <br/>
            <h1><i class='bx bxl-git' ></i><br/>GIT</h1>
            <br/>
            <br/>
            <h1><i class='bx bx-mobile' ></i><br/>PowerBIMobile</h1>
        </div>
        <div class="skills-list4">
            <h1><i class='bx bxs-report' ></i><br/>Reports</h1>
            <br/>
            <br/>
            <h1><i class='bx bxl-mongodb' ></i><br/>MangoDB</h1>
            <br/>
            <br/>
            <h1><i class='bx bxs-dashboard' ></i><br/>Dashboards</h1>
            <br/>
            <br/>
            <h1><i class='bx bxs-cog' ></i><br/>API'S</h1>
        </div>
    </section>
</body>
</html>